<!--
  <li>
    <a href="/copy-my-trades/" itemprop="sameAs">
      <i class="fa fa-rocket" style="color:red"aria-hidden="true"></i> COPY MY TRADES FOR FREE
    </a>
  </li>
-->  
    <li>
    <a href="https://telegram.me/drei4u" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fab fa-telegram" style="color:#0088CC" aria-hidden="true"></i> Telegram
    </a>
  </li>
    <li>
    <a href="https://www.tradingview.com/u/drei4u/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fa fa-cloud" style="color:#3399ff" aria-hidden="true"></i> Tradingview
    </a>
  </li>
      <li>
    <a href="https://bit-copy.com/en/trader/603" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-chart-line" style="color:#00acac" aria-hidden="true"></i> Sample Trading History
    </a>
  </li>  